html * {
    margin: 0;
    padding: 0;
}

.layout div {
    min-height: 200px;
}

.layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.layout.flex .left {
    flex-basis: 300px;
    background-color: red;
}

.layout.flex .right {
    flex-basis: 300px;
    background-color: blue;
}

.layout.flex .center {
    flex-grow: 1;
    background-color: yellow;
}

/* 垂直布局 */
/* .layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.layout.flex .left {
    flex: 0 1;
    background-color: red;
}

.layout.flex .right {
    flex: 0 1;
    background-color: blue;
}

.layout.flex .center {
    flex: 1 0 300px;
    background-color: yellow;
}  */